body {
    background-color:plum;
}

h1 {
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.main div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.main div p {
    margin-right: 10px;
}

.calculate {
    padding: 10px 0;
}
